//背景カラー
$bgColor: #FAF7F0;
//メインカラー
$mainColor: #F2C4D4;
//アクセントカラー1
$accent1Color: #EF5350;
//アクセントカラー2
$accent2Color: #E68B79;
//サブカラー1
$sub1Color: #F8EA8E;
//サブカラー2
$sub2Color: #A3CA76;
//文字カラー
$textColor: #212121;
//headerカラー
$headerColor: #0F622C;
//textカラー1
$headerTextColor: #ffffff;
//コンテンツ背景カラー
$contentBgcolor: #C8E6C9;
//G1カラー
$G1Color: #5C6BC0;
//G2カラー
$G2Color: #D32F2F;
//G3カラー
$G3Color: #00897B;
//重賞カラー
$GroupRaceColor: #212121;


